#activity-display-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.activity-form-button {
  width: fit-content;
  height: fit-content;
}

#activity-name-container, #activity-button-container {
  display: flex;
  flex-direction: row;
}

#activity-name-container {
  justify-content: flex-end;
}

#edit-activity-name {
  display: table-cell;
  width: 75%;
}

#activity-input-form {
  display: table;
  margin: auto;
}

#activity-input-container {
  display: table-row;
}
